
# Database
DATABASE_URL="postgresql://user:password@localhost:5432/mydb"

# Cloudflare Profile Avatar > API Token > Create Token
CLOUDFLARE_API_TOKEN="cfut_"
# Account Domain > Overview > Scroll Down until see the ACCOUNT_ID
CLOUDFLARE_ACCOUNT_ID=""
